.message-time {
    position: absolute;
    opacity: 0;
    font-size: 18px;
    transition: opacity 0.22s;
}

.message:hover .message-time {
    opacity: 1;
}

.avatar-image {
    cursor: pointer;
    object-fit: cover;
    clip-path: circle();
    transition: filter 0.22s;
}

.avatar-image:hover {
    filter: brightness(70%);
}


.chat::-webkit-scrollbar {
    display: none;
}

.chat {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}