:root {
    --main-app-light-bg-color: white;
    --main-app-dark-bg-color: #1A1831;
    --hover-bg-color-1: #1B0044;
    --bg-color-1: #24005b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}