@import-normalize;

:root {
    --main-app-light-bg-color: white;
    --main-app-dark-bg-color: #0c0c11;
    --hover-bg-color-1: #1B0044;
    --bg-color-1: #24005b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    display: none;
}